<div *ngIf="assure">
    <h2>{{ assure.name | uppercase }} {{ assure.surname | uppercase }}</h2>
    <div>Assuré n°: {{ assure.id }}</div>
    <div>
        <label for="assure-name">Prénom : </label>
        <input id="assure-name" [(ngModel)]="assure.name" placeholder="name">
    </div>
    <div>
        <label for="assure-surname">Nom : </label>
        <input id="assure-surname" [(ngModel)]="assure.surname" placeholder="surname">
    </div>
    <div>
        <label for="assure-address1">Adresse : </label>
        <input id="assure-address1" [(ngModel)]="assure.address1" placeholder="name">
    </div>
    <div>
        <label for="assure-address2">Complément d'adresse : </label>
        <input id="assure-address2" [(ngModel)]="assure.address2" placeholder="surname">
    </div>
    <div>
        <label for="assure-zip">Code postal : </label>
        <input id="assure-zip" [(ngModel)]="assure.zip" placeholder="name">
    </div>
    <div>
        <label for="assure-city">Ville : </label>
        <input id="assure-city" [(ngModel)]="assure.city" placeholder="surname">
    </div>
    <div>
        <label for="assure-birth">Date de naissance : </label>
        <input id="assure-birth" [(ngModel)]="assure.name" placeholder="name">
    </div>
    <div>
        <label for="assure-ssn">N° SS : </label>
        <input id="assure-ssn" [(ngModel)]="assure.ssn" placeholder="surname">
    </div>
</div>